<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Registros</title>
  </head>
  <body>
    <h1>Registros</h1>
    <table border="1">
      <thead>
        <tr>
          <td>Nome</td>
          <td>SobreNome</td>
          <td>Ação</td>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(function(details){ %>
        <tr>
          <td><%= details.name %></td>
          <td><%= details.lastname %></td>
          <td>
            <a href="/edit/<%= details._id %>">Editar</a>-
            <a href="/delete/<%= details._id %>">Deletar</a>
          </td>
        </tr>
        <%})%>
      </tbody>
    </table>
    <button><a href="/">Novo</a></button>
  </body>
</html>
